@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    background: #e9ebee;
    font-family: 'Roboto', sans-serif;
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container-header {
    background: #2196F3;
    width: 100%;
    position: fixed;
    top: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 130px;
}

header form {
    margin: auto auto;
    width: 50%;
}

header form input[type=text] {
    margin: auto 0;
    padding: .2em 0;
    width: 80%;
}

header form button img {
    width: 15px;
    height: 1em;
}

.hide-mobile {
    display: none;
}

.menu {
    width: 25px;
    margin-top: 45%;
}

nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36,41,44);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em 2em;
    background-color: rgb(49, 55, 59);
}

nav ul li a:hover {
    background-color: rgb(65, 73, 78);
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}

.container {
    margin-top: 2.5em;
} 

.new-post {
    background: white;
    padding: 0;
    margin: .5em .3em;
    border: 2px solid gray;
    border-radius: 4px;
}

.new-post form h3 {
    background: #dddfe2;
    padding-left: .5em;
    margin: 0;
    border-bottom: 2px solid gray;
}

.new-post form table tr td:first-child {
    width: 30%;
}

.new-post form table tr td:nth-child(2) {
    width: 10000px;   
}

.new-post form table tr td input[type=text] {
    width: 95%;
    border: none;
    border-bottom: 1px solid gray;
}

.new-post form table tr td input[type=number] {
    width: 3em;
}

.btn {
    background: #fff;
    color: #959595;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn:hover {
    color: #8b8b8b;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.btn.btn-submit {
    background: #2196F3;
    color: #bce0fb;
}

.btn.btn-submit:hover {
    background: #0d8aee;
    color: #deeffd;
}

.btn-box {
    text-align: center;
    margin: .7em 0;
}

ul.footer-links {
    margin: 0 auto;
}

ul.footer-links li {
    display: inline-block;
}

ul.footer-links li a {
    color: #9D9D9D;
    font-size: .8em;
}

@media only screen and (min-width: 650px){
    nav ul {
        width: 40%;
    }
}

@media only screen and (min-width: 875px){

}

@media only screen and (min-width: 1024px){
    
    header {
        width: 80%;
        margin: auto auto;
    }

    .show-desktop {
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-desktop {
        display: none;
    }

    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        color: white;
        background-color: inherit;
        text-align: right;
        margin: .1em .1em;
        padding: 1em 1em;
    }

    nav ul li a:hover {
        background-color: inherit;
    }
    
    .container {
        width: 80%;
        margin: 3.5em auto auto auto;
    }

    .left-content {
        float: left;
        width: 25%;
        padding: 1em 0em;
        text-align: left;
        /* background: khaki; */
    }

    .left-content ul {
        padding: 1em 1em;
    }

    .left-content ul li {
        padding-bottom: .7em;
    }

    .left-content ul li a {
        text-decoration: none;
        color: black;
        padding: .5em 1em;
    }

    .left-content ul li a:hover {
        background: #99ccff;
        border-radius: 50%;
        color: white;
    }

    .left-content ul li img {
        display: block;
        max-width: 60%;
        margin: auto auto;
        border: 5px solid grey;
    }

    .middle-content {
        margin: 0 0;
        float: left;
        width: 50%;
        text-align: left;
        /* height: 1000px; */
        /* background: indigo; */
    }

    .right-content {
        width: 25%;
        float: left;
        /* height: 1000px; */
        text-align: center;
        color: #9D9D9D;
        /* background: hotpink; */
    }

    @keyframes move {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(20px);
        }
    }

}

@media only screen and (max-width: 1600px){

}